.message {
  margin: 0 0.75rem;
  padding: 0.75rem;
  width: fit-content;
}

.message__user {
  margin-left: auto;
  text-align: left !important;
}

.message__userCard {
  background-color: #0b81ff !important;
  color: #fff !important;
}

.message__guestCard {
  background-color: #e9e9eb !important;
}

.alignLeft {
  text-align: left;
}
